{% extends 'base.html' %}

{% block content %}
<div class="article">
    {% if user.is_authenticated %}
        <nav class="navbar navbar-expand-sm bg-light">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form action="{% url 'polls:create-news' %}" method="get">
                        <button type="submit" class="btn btn-primary">Add new post</button>
                    </form>
                </li>
                <li class="nav-item">
                    <form action="{% url 'polls:home' %}" method="get">
                        <button type="submit" class="btn btn-primary">HOME</button>
                    </form>
                </li>
            </ul>
        </nav>
    {% endif %}
    <div class="container-fluid bg-light">
    <div class="row justify-content-center">
        {% for post in object_list %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <div class="card-body">
                        <form action="{% url 'polls:user-details' user_id=post.user_id.pk %}" method="get" class="user_info_form">
                            <button type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#PostData{{post.pk}}" value="{{post.pk}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3"/>
                                </svg>
                            </button>
                        </form>
                            <div class="modal fade" id="PostData{{post.pk}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="Label">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <img class="image-container rounded-pill" src="" style="width: 150px; height: 150px;">
                                            <p></p>
                                            <h2></h2>
                                            {% if user.pk != post.user_id.pk %}
                                            <form action="{% url 'polls:subscribe' user_id=post.user_id.pk %}" method="post" class="subscribe-form">
                                                {% csrf_token %}
                                                <button name="subscribe_button" class="btn btn-secondary" type="submit" value="{{ post.pk }}"><span id="subscribe-{{post.pk}}"> UNSUBSCRIBE </span></button>
                                                <input type="hidden" name="next" value="news">
                                            </form>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% if not post %}
                            <h2> Oops, there is no news for you today</h2>
                        {% else %}
                            {% if post.images.all.count == 1 %}
                                <img class="card-img-top" src="{{ post.images.first.photo.url }}" alt="Photo">
                            {% else %}
                            <div id="carouselExampleControls{{post.pk}}" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-inner">
                                  {% for photo in post.images.all %}
                                  <div class="carousel-item {% if forloop.first %}active{% endif %}">
                                    <img src="{{ photo.small_photo.url }}" class="d-block w-100" alt="Photo">
                                    </div>
                                  {% endfor %}
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls{{post.pk}}" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls{{post.pk}}" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
                            {% endif %}
                            <h2>Author: {{ post.user_id }}</h2>
                            <h2>Uploaded: {{ post.date }}</h2>
                            <form action="{% url 'polls:news-likes' pk=post.pk %}" method="post" class="like">
                                {% csrf_token %}
                                <button class="btn btn-success" type="submit" name="post_id_like" value="{{ post.pk }}">Like <span id="like-count-{{ post.pk }}">{{ post.total_likes }}</span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-up-fill" viewBox="0 0 16 16">
                                      <path d="M6.956 1.745C7.021.81 7.908.087 8.864.325l.261.066c.463.116.874.456 1.012.965.22.816.533 2.511.062 4.51a10 10 0 0 1 .443-.051c.713-.065 1.669-.072 2.516.21.518.173.994.681 1.2 1.273.184.532.16 1.162-.234 1.733q.086.18.138.363c.077.27.113.567.113.856s-.036.586-.113.856c-.039.135-.09.273-.16.404.169.387.107.819-.003 1.148a3.2 3.2 0 0 1-.488.901c.054.152.076.312.076.465 0 .305-.089.625-.253.912C13.1 15.522 12.437 16 11.5 16H8c-.605 0-1.07-.081-1.466-.218a4.8 4.8 0 0 1-.97-.484l-.048-.03c-.504-.307-.999-.609-2.068-.722C2.682 14.464 2 13.846 2 13V9c0-.85.685-1.432 1.357-1.615.849-.232 1.574-.787 2.132-1.41.56-.627.914-1.28 1.039-1.639.199-.575.356-1.539.428-2.59z"/>
                                    </svg>
                                </button>
                            </form>
                            <form action="{% url 'polls:news-dislikes' pk=post.pk %}" method="post" class="dislike-newsform">
                                {% csrf_token %}
                                <button class="btn btn-danger" type="submit" name="post_id_dislike" value="{{ post.pk }}"> Dislike<span id="dislike-count-{{post.pk}}">{{ post.total_dislikes }}</span>
                                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hand-thumbs-down-fill" viewBox="0 0 16 16">
                                      <path d="M6.956 14.534c.065.936.952 1.659 1.908 1.42l.261-.065a1.38 1.38 0 0 0 1.012-.965c.22-.816.533-2.512.062-4.51q.205.03.443.051c.713.065 1.669.071 2.516-.211.518-.173.994-.68 1.2-1.272a1.9 1.9 0 0 0-.234-1.734c.058-.118.103-.242.138-.362.077-.27.113-.568.113-.856 0-.29-.036-.586-.113-.857a2 2 0 0 0-.16-.403c.169-.387.107-.82-.003-1.149a3.2 3.2 0 0 0-.488-.9c.054-.153.076-.313.076-.465a1.86 1.86 0 0 0-.253-.912C13.1.757 12.437.28 11.5.28H8c-.605 0-1.07.08-1.466.217a4.8 4.8 0 0 0-.97.485l-.048.029c-.504.308-.999.61-2.068.723C2.682 1.815 2 2.434 2 3.279v4c0 .851.685 1.433 1.357 1.616.849.232 1.574.787 2.132 1.41.56.626.914 1.28 1.039 1.638.199.575.356 1.54.428 2.591"/>
                                    </svg>
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:3 and not forloop.last %}
                </div><div class="row">
            {% endif %}
        {% endfor %}
    </div>

    <div class="pagination mt-4">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1" class="btn btn-primary">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-primary">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    </div>
</div>
{% endblock %}